

.placeholder{
    height: 100px
}
body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
    margin: 0;
    padding: 0;
    border: 0;
}

a:active,
a:hover {
    outline: 0;
}


/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */

.nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
}

.nav-collapse li {
    width: 100%;
    display: block;
}

.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}

@media screen and (min-width: 40em) {
    .js .nav-collapse {
        position: relative;
    }
}


/* ------------------------------------------
  DEMO STYLES
--------------------------------------------- */

body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: #37302a;
    background: url(/resources/img/background.jpg);
    background-size: cover;
    font: normal 100%/1.4 sans-serif;
}

h1 {
    margin-bottom: .5em;
}

p {
    width: 90%;
    margin: 0 auto;
    color: antiquewhite;
}


/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

header {
    background: #f4421a;
    position: fixed;
    z-index: 3;
    width: 100%;
    left: 0;
    top: 0;
}

.logo {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
    font-weight: bold;
    line-height: 55px;
    padding: 0;
    color: #fff;
    float: left;
}

@media screen and (min-width: 40em) {
}


/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.nav-collapse,
.nav-collapse * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
    list-style: none;
    width: 100%;
    float: left;
}

@media screen and (min-width: 40em) {
    .nav-collapse {
        float: right;
        width: auto;
    }
}

.nav-collapse li {
    float: left;
    width: 100%;
}

@media screen and (min-width: 40em) {
    .nav-collapse li {
        width: auto;
    }
}

.nav-collapse a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border-top: 1px solid white;
    text-decoration: none;
    background: #f4421a;
    padding: 0.7em 1em;
    color: #fff;
    width: 100%;
    float: left;
}

.nav-collapse a:active,
.nav-collapse .active a {
    background: #b73214;
}

@media screen and (min-width: 40em) {
    .nav-collapse a {
        border-left: 1px solid white;
        padding: 1.02em 2em;
        text-align: center;
        border-top: 0;
        float: left;
        margin: 0;
    }
}

.nav-collapse ul ul a {
    background: #ca3716;
    padding-left: 2em;
}

@media screen and (min-width: 40em) {
    .nav-collapse ul ul a {
        display: none;
    }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {

    font-weight: normal;
    font-style: normal;
}

.footer{
    height: 20px;
    background-color: #f4421a;
    color: antiquewhite;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.maintable, td, th{
    border: 1px solid black;
   color: antiquewhite;
}

.maintable{
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
    background-color: antiquewhite;
    color: black;
}

.horsestable{
    border-collapse: collapse;
    width: 100%;
}
.betstable{
    border-collapse: collapse;
    width: 100%;
}

td{
    text-align: center;
}

.button {
    background: url(/resources/img/dollar.jpg);
    background-size: 60px 50px;
    border: 2px solid #f4421a;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 70%;
}

.upperadmin{
    border: none;
    width: 100%;
    text-align: left;
}

.addRace{
    padding: 30px 50px;
    border: 2px solid red;
}